.categoryPanel {
  .categoryDescription {
    header {
      font-size: 1.5rem;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.32;
      letter-spacing: normal;
      color: #444444;
    }
    p {
      font-size: .8rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      color: #222222;
    }
    .description {
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      min-height: 10em;
      width: 70%;
      top: 5em;
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}