@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);

h1 {
  font-family: Roboto;
  font-size: 3.5rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #444444;
}

h3 {
  font-size: 1.7rem;
}

html {
  @media (max-width: 1200px) {
    font-size: 95% !important;
  }
  @media (max-width: 768px) {
    font-size: 85% !important;
  }
  @media (max-width: 480px) {
    font-size: 80% !important;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.topBar {
  background-color: #005c13;
  .smallInformation {
    ul {
      margin-bottom: 0;
      margin-top: 10px;
      padding: 0px;
      li {
        margin-right: 20px;
        p {
          padding-right: 20px;
          margin-left: 10px;
          text-align: right;
          display: inline-block;
          color: white;
          border-right: 1px solid rgba(255, 255, 255, 0.5);
        }
        .last {
          border-right: none;
        }
      }
    }
  }
  position: relative;
  .multiLanguage {
    margin-top: 6px;
    .onoffswitch4 {
      float: right;
      position: relative;
      width: 90px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    .onoffswitch4-checkbox {
      display: none;
    }
    .onoffswitch4-label {
      display: block;
      overflow: hidden;
      cursor: pointer; //border: 0.1px solid white;
      border-radius: 0px;
    }
    .onoffswitch4-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      -moz-transition: margin 0.3s ease-in 0s;
      -webkit-transition: margin 0.3s ease-in 0s;
      -o-transition: margin 0.3s ease-in 0s;
      transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch4-inner:before,
    .onoffswitch4-inner:after {
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      padding: 0;
      line-height: 26px;
      font-size: 1.8rem;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 2px solid transparent;
      background-clip: padding-box;
    }
    .onoffswitch4-inner:before {
      content: "EN";
      padding-left: 30px; //background-color: #005c13;
      color: #ffffff;
      content: url("./image/en.png");
    }
    .onoffswitch4-inner:after {
      content: "VN";
      padding-right: 30px; //background-color: #005c13;
      content: url("./image/vn.png");
      color: #ffffff;
      text-align: right;
    }
    .onoffswitch4-switch {
      display: block;
      width: 25px;
      margin: 0px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 65px;
      -moz-transition: all 0.3s ease-in 0s;
      -webkit-transition: all 0.3s ease-in 0s;
      -o-transition: all 0.3s ease-in 0s;
      transition: all 0.3s ease-in 0s;
    }
    .onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-inner {
      margin-left: 0;
    }
    .onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-switch {
      right: 0px;
    }
  }
}

.navigationBar {
  .navBarNonPadding,
  .navbar {
    padding-right: 0px;
    padding-left: 0px;
  }
  a {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #222222;
    font-weight: 400;
  }
}

.slideShow {
  letter-spacing: 0.05em;
  .btn {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: transparent;
    border: 1px solid #f7890b;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
    font-size: .8rem;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #f7890b;
      z-index: 1;
      opacity: 0;
      transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
    }
    &::after {
      transition: border 0.1s linear 0.05s;
    }
    .btn-inner {
      position: relative;
      z-index: 2;
    }
    &:hover {
      color: #fff;
      transition: color 0.1s linear 0s;
      &::before {
        top: 0;
        height: 100%;
        opacity: 1;
        transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
      }
      &::after {
        border-color: #373737;
        transition: border 0.1s linear 0s;
      }
    }
  }
  .slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 713px;
    z-index: 1;
    .slideshow-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .slides {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .slide {
      display: none;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
      &.is-active {
        display: block;
      }
      &.is-loaded {
        opacity: 1;
      }
      .caption {
        padding-top: 200px;
        width: 50%;
      }
      .image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 1;
        background-size: cover;
        image-rendering: optimizeQuality;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
        }
      }
      .image {
        width: 100%;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .title {
        font-size: 4.5rem; //letter-spacing: 0.35em;
        //text-transform: uppercase;
        font-weight: 500;
      }
      .text {
        margin: 0 auto;
        max-width: 1000px;
        line-height: 1.4;
        p {
          font-size: 1.1rem;
          font-weight: 200;
        }
      }
      .btn {
        margin: 15px 0 0;
        background-color: #f7890b;
        &::before {
          background: #f7890b;
        }
      }
    }
    .pagination {
      position: absolute;
      bottom: 35px;
      left: 0;
      width: 100%;
      height: 12px;
      cursor: default;
      z-index: 2;
      text-align: center;
      display: block;
      .item {
        display: inline-block;
        padding: 15px 5px;
        position: relative;
        width: 46px;
        height: 32px;
        cursor: pointer;
        text-indent: -999em;
        z-index: 1;
        + .page {
          margin-left: -2px;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 15px;
          left: 5px;
          width: 36px;
          height: 2px;
          background: rgba(255, 255, 255, 0.5);
          transition: background 0.2s ease;
        }
        &::after {
          width: 0;
          background: #fff;
          z-index: 2;
          transition: width 0.2s ease;
        }
        &:hover::before,
        &.is-active::before {
          background-color: #fff;
        }
      }
    }
    .arrows {
      .arrow {
        margin: -33px 0 0;
        padding: 20px;
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 3;
      }
      .prev {
        left: 30px;
        &:hover .svg {
          left: -10px;
        }
      }
      .next {
        right: 30px;
        &:hover .svg {
          left: 10px;
        }
      }
      .svg {
        position: relative;
        left: 0;
        width: 14px;
        height: 26px;
        fill: #fff;
        transition: left 0.2s ease;
      }
    }
  }
}

.panelServies {
  text-align: center;
  .title {
    width: 100%;
    padding: 50px;
  }
  .serviceContent {
    .content {
      text-align: center;
      h3 {
        padding: 30px 0px;
      }
    }
  }
}

.panelExpertise {
  background-image: url("./image/group-11.png");
  .header {
    width: 100%;
    text-align: center;
    h1 {
      padding: 50px 0px 20px 0px;
      color: #ffffff;
      opacity: 0.7;
    }
  }
  .expertiseContent {
    width: 100%;
    .content {
      margin-bottom: 40px;
      width: 330px;
      height: 185px;
      h3 {
        width: 242px;
        height: 30px;
        font-family: Roboto;
        font-size: 1.3rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      text-align: center;
      position: relative;
    }
  }
}

.contactForm {
  padding: 3rem 0;
  .form {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    .inputContact {
      padding-left: 3rem;
      h1 {
        font-family: Roboto;
        font-size: 3.1rem;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #444444;
      }
      .form-group {
        font-family: Roboto;
        border-radius: 3px;
        .form-control {
          height: calc(2.25rem + 15px);
        }
        input,
        textarea {
          font-size: 1rem;
        }
        textarea.form-control {
          height: auto;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .form {
      padding: 2rem 2rem;
      .inputContact {
        padding-top: 1.5rem;
        padding-left: 0;

      }
    }
  }
  @media (max-width: 994px) {
    .form {
      .inputContact {
        h1 {
          font-size: 2rem;
        }
        .form-group .form-control {
          height: calc(2.25rem - 5px);
        }
      }
    }
  }
}

.panelContent {
  position: relative;
  background: url("./image/panelContent.png") center center no-repeat;
  .panelGradient {
    width: 100%;
  }
  .content {
    height: 0;
    text-align: center;
    z-index: 2;
    h1 {
      color: #ffffff;
    }
    p {
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.55;
      letter-spacing: normal;
      color: #ffffff;
    }
  }
  @media (max-width: 1200px) {
    .content {
      height: auto;
    }
  }
}

.panelContent::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}

.panelFounder {
  padding-top: 50px;
  .image {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .panelFounder {
    padding-top: 0;
    padding-bottom: 0;
    .image {
      padding-bottom: 30px;
    }
    .jumbotron {
      padding-bottom: 0;
    }
    .aboutFounder {
      text-align: center;
      padding: 0rem 2rem;
    }
  }
}

.footer {
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  .footerContent {
    padding: 15px;
    margin: 0 auto;
    .detailContent,
    .map {
      float: left;
    }
    .detailContent {
      padding-left: 20px;
      .logo {
        padding-right: 20px;
      }
      .fa {
        padding: 9px;
        font-size: 0.8rem;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 23px 5px;
        border-radius: 50%;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .fa-instagram {
        background: #125688;
        color: white;
      }
    }
    .naviFooter {
      ul {
        margin-left: 0px !important;
        padding-left: 0px !important;
        li {
          padding: 12px;
          font-family: Roboto;
          font-size: 1.1rem;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.8;
          letter-spacing: normal;
          color: #222222;
        }
      }
    }
    .smallInformation {
      ul {
        margin-top: 10px;
        padding: 0px;
        li {
          padding-left: 10px;
          p {
            padding-right: 20px;
            margin-left: 10px;
            padding-top: 4px;
            text-align: right;
            display: inline-block;
            color: #005c13;
            border-right: 1px solid #005c13;
          }
          .last {
            border-right: none;
          }
        }
      }
    }
  }
}

.btn {
  background-color: #f7890b;
  color: white;
  font-weight: 500;
}

.jumbotron {
  background: transparent !important;
  h1, h2, h3, h4, h5, p, a {
    font-family: Roboto;
    font-weight: 300;
  }
}

img {
  max-width: 100% !important;
  height: auto !important;
}

a,
p {
  font-weight: 500;
  font-size: .8rem;
}

ul {
  li {
    display: inline;
    list-style: none;
  }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}