@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
h1 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #444444;
}

body {
  margin: 0;
}

.topBar {
  background-color: #005c13;
  height: 40px;
  width: 100%;
  position: relative;
}
.topBar .smallInformation ul {
  margin-top: 10px;
  padding: 0px;
}
.topBar .smallInformation ul li {
  margin-right: 20px;
}
.topBar .smallInformation ul li p {
  padding-right: 20px;
  margin-left: 10px;
  text-align: right;
  display: inline-block;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.topBar .smallInformation ul li .last {
  border-right: none;
}
.topBar .multiLanguage {
  margin-top: 6px;
}
.topBar .multiLanguage .onoffswitch4 {
  float: right;
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.topBar .multiLanguage .onoffswitch4-checkbox {
  display: none;
}
.topBar .multiLanguage .onoffswitch4-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0px;
}
.topBar .multiLanguage .onoffswitch4-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.topBar .multiLanguage .onoffswitch4-inner:before,
.topBar .multiLanguage .onoffswitch4-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 26px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.topBar .multiLanguage .onoffswitch4-inner:before {
  content: "EN";
  padding-left: 30px;
  color: #ffffff;
  content: url("./image/en.png");
}
.topBar .multiLanguage .onoffswitch4-inner:after {
  content: "VN";
  padding-right: 30px;
  content: url("./image/vn.png");
  color: #ffffff;
  text-align: right;
}
.topBar .multiLanguage .onoffswitch4-switch {
  display: block;
  width: 25px;
  margin: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 65px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.topBar .multiLanguage .onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-inner {
  margin-left: 0;
}
.topBar .multiLanguage .onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-switch {
  right: 0px;
}

.navigationBar {
  overflow: hidden;
}
.navigationBar .naviWithLogo {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}
.navigationBar .naviWithLogo .logo {
  left: 0;
  float: left;
}
.navigationBar .naviWithLogo .naviBar {
  align-content: center;
  float: left;
}
.navigationBar .naviWithLogo .naviBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navigationBar .naviWithLogo .naviBar ul li {
  float: left;
}
.navigationBar .naviWithLogo .naviBar ul li a {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 18px 15px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  color: #222222;
}
.navigationBar .naviWithLogo .search {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 48px;
}
.navigationBar .naviWithLogo .search img {
  padding-right: 50px;
}

.slideShow {
  letter-spacing: 0.05em;
}
.slideShow .btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #f7890b;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
  font-size: 12px;
}
.slideShow .btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f7890b;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.slideShow .btn::after {
  transition: border 0.1s linear 0.05s;
}
.slideShow .btn .btn-inner {
  position: relative;
  z-index: 2;
}
.slideShow .btn:hover {
  color: #fff;
  transition: color 0.1s linear 0s;
}
.slideShow .btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.slideShow .btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}
.slideShow .slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 713px;
  z-index: 1;
}
.slideShow .slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideShow .slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideShow .slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideShow .slideshow .slide.is-active {
  display: block;
}
.slideShow .slideshow .slide.is-loaded {
  opacity: 1;
}
.slideShow .slideshow .slide .caption {
  padding-top: 200px;
  width: 50%;
}
.slideShow .slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideShow .slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.slideShow .slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideShow .slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideShow .slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font-size: 65px;
  font-weight: 500;
}
.slideShow .slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  line-height: 1.4;
}
.slideShow .slideshow .slide .text p {
  font-size: 14px;
  font-weight: 200;
}
.slideShow .slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #f7890b;
}
.slideShow .slideshow .slide .btn::before {
  background: #f7890b;
}
.slideShow .slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
  display: block;
}
.slideShow .slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideShow .slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideShow .slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
.slideShow .slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slideShow .slideshow .pagination .item:hover::before, .slideShow .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
.slideShow .slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideShow .slideshow .arrows .prev {
  left: 30px;
}
.slideShow .slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideShow .slideshow .arrows .next {
  right: 30px;
}
.slideShow .slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideShow .slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

.panelServies {
  text-align: center;
}
.panelServies .title {
  width: 100%;
  padding: 50px;
}
.panelServies .serviceContent {
  width: 100%;
}
.panelServies .serviceContent .content {
  text-align: center;
}
.panelServies .serviceContent .content h3 {
  padding: 30px 0px;
}

.panelExpertise {
  background-image: url("./image/group-11.png");
}
.panelExpertise .header {
  width: 100%;
  text-align: center;
}
.panelExpertise .header h1 {
  padding: 50px 0px 20px 0px;
  color: #ffffff;
  opacity: 0.7;
}
.panelExpertise .expertiseContent {
  width: 100%;
}
.panelExpertise .expertiseContent .content {
  margin-bottom: 40px;
  width: 330px;
  height: 215px;
  text-align: center;
  position: relative;
}
.panelExpertise .expertiseContent .content img {
  max-width: 100%;
  max-height: 100%;
}
.panelExpertise .expertiseContent .content h3 {
  width: 242px;
  height: 30px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.panelExpertise .expertiseContent .first {
  margin-right: 50px;
}
.panelExpertise .expertiseContent .center {
  margin: 0px 25px 0px 25px;
}
.panelExpertise .expertiseContent .last {
  margin-left: 50px;
}

.contactForm {
  margin-top: 60px;
  padding-bottom: 100px;
}
.contactForm .form {
  width: 1440px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.contactForm .form .imageContactForm {
  height: 480px;
}
.contactForm .form .imageContactForm img {
  max-width: 100%;
  max-height: 100%;
}
.contactForm .form .inputContact {
  padding-top: 50px;
}
.contactForm .form .inputContact h1 {
  width: 480px;
  height: 50px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #444444;
}
.contactForm .form .inputContact .form-group {
  font-family: Roboto;
  width: 500px;
  height: 40px;
  border-radius: 3px;
}
.contactForm .form .inputContact .form-group .form-control {
  height: calc(2.25rem + 15px);
}
.contactForm .form .inputContact .form-group input,
.contactForm .form .inputContact .form-group textarea {
  font-size: 15px;
}
.contactForm .form .inputContact .form-group textarea.form-control {
  height: auto;
}
.contactForm .form .inputContact a {
  margin: 60px 70px 0px 54px;
  background-color: #f7890b;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  padding: 0.5em 2em;
  border: 2px solid #f7890b;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.contactForm .form .inputContact a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
}
.contactForm .form .inputContact a::after {
  content: "";
  display: inline-block;
  background-image: url("./image/right-arrow.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
.contactForm .form .inputContact a:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}
.contactForm .form .inputContact a:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.contactForm .form .inputContact a:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

.panelContent {
  position: relative;
}
.panelContent img {
  max-width: 100%;
  max-height: 100%;
}
.panelContent .panelGradient {
  width: 100%;
}
.panelContent .panelGradient .content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}
.panelContent .panelGradient .content h1 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.panelContent .panelGradient .content p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.panelContent .panelGradient .content .button {
  border-radius: 3px;
  background-color: #f7890b;
  border: none;
  color: white;
  padding: 4px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: bold;
}

.panelContent::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  z-index: 1;
}

.panelFounder {
  padding: 75px 0px;
}
.panelFounder .content {
  padding-top: 55px;
}
.panelFounder .content h1 {
  font-family: Roboto;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #444444;
}
.panelFounder .content p {
  margin-top: 20px;
  width: 500px;
  height: 215px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.55;
  letter-spacing: normal;
  color: #222222;
}
.panelFounder .content .button {
  border-radius: 3px;
  background-color: #f7890b;
  border: none;
  color: white;
  padding: 4px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: bold;
}
.panelFounder .image {
  float: right;
  width: 400px;
  height: 450px;
}
.panelFounder .image img {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.footer .footerContent {
  padding: 15px;
  width: 65%;
  margin: 0 auto;
}
.footer .footerContent .detailContent,
.footer .footerContent .map {
  float: left;
}
.footer .footerContent .detailContent {
  padding-left: 20px;
}
.footer .footerContent .detailContent .logo {
  padding-right: 20px;
}
.footer .footerContent .detailContent .fa {
  padding: 9px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 23px 5px;
  border-radius: 50%;
}
.footer .footerContent .detailContent .fa:hover {
  opacity: 0.7;
}
.footer .footerContent .detailContent .fa-facebook {
  background: #3B5998;
  color: white;
}
.footer .footerContent .detailContent .fa-twitter {
  background: #55ACEE;
  color: white;
}
.footer .footerContent .detailContent .fa-instagram {
  background: #125688;
  color: white;
}
.footer .footerContent .naviFooter ul {
  margin-left: 0px !important;
  padding-left: 0px !important;
}
.footer .footerContent .naviFooter ul li {
  padding: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  color: #222222;
}
.footer .footerContent .smallInformation ul {
  margin-top: 10px;
  padding: 0px;
}
.footer .footerContent .smallInformation ul li {
  padding-left: 10px;
}
.footer .footerContent .smallInformation ul li p {
  padding-right: 20px;
  margin-left: 10px;
  padding-top: 4px;
  text-align: right;
  display: inline-block;
  color: #005c13;
  border-right: 1px solid #005c13;
}
.footer .footerContent .smallInformation ul li .last {
  border-right: none;
}

a,
p {
  font-weight: 500;
  font-size: 12px;
}

ul li {
  display: inline;
  list-style: none;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}

/*# sourceMappingURL=style.css.map */
